.details {
    flex: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.details > h1 {
  color: rgba(235, 235, 235, 0.9);
}


.detailsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    scrollbar-gutter: stable;
    margin-left: 2rem;
    margin-right: 4rem;
}

.detailsContainer:hover { 
  overflow-y: auto;
  margin-left: 2rem;
  padding-right: 2rem;
  margin-right: 2rem;
}

.detailsContainer::-webkit-scrollbar {
  width: 0.3rem;
  height: 80%;
}

.detailsContainer::-webkit-scrollbar-thumb {
  background-color: rgba(177, 177, 177, 0.2);
  border-radius: 1rem;
}

.detailsContainer::-webkit-scrollbar-track {
  background-color: rgba(177, 177, 177, 0.1);
}


/* ==============================
   Size Responsive Styling
   ============================== */

   @media (max-width: 1575px) {
    .details > h1 {
      height: 100vh;
    }

      .detailsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
        scrollbar-gutter: stable;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .detailsContainer:hover { 
      overflow-y: auto;
      margin-left: 2rem;
      padding-right: 1rem;
      margin-right: 1rem;
    }

  }