.details {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details > h1 {
    color: white;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}