.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
    width: 100%;
}

.leftHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rightHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.companyLogo {
    width: 75px;
    border-radius: 100%;
    margin-right: 20px;
}

.detailSymbol {
    font-size: 40px;
    margin-right: 20px;
    width: 125px;
}

.detailName {
    font-size: 24px;
    width: 250px;
    text-wrap: wrap;
    text-align: left;
}