.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: rgba(235, 235, 235, 0.9);
    width: 100%;
    margin-top: 2rem;
}

.upperHeader {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 5rem;
}

.detailTitle {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.companyLogo {
    width: 5rem;
    border-radius: 100%;
    margin-right: 1rem;
}

.detailSymbol {
    font-size: 3rem;
    margin-right: 1rem;
    color: rgba(235, 235, 235, 0.9);
    margin-bottom: 0;
    margin-top: 0;
}

.exchange {
    margin: 0;
    color: #86878B;
}

.detailName {
    color: #86878B;
    font-weight: 500;
    font-size: 2rem;
    width: 20rem;
    text-wrap: wrap;
    text-align: left;
    height: 6rem;
    margin-top: 2rem;
}

.unsubscribeBtn {
    margin-left: auto;
    background-color: #383B40;
    border-radius: 0.5rem;
    height: 2rem;
    color: rgba(235, 235, 235, 0.9);
    border: none;
    padding: 0rem 1rem;
    cursor: pointer;
}

.minusBtn {
    margin-right: 0.5rem;
}

.lowerHeader {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    max-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.detailPrice {
    font-size: 2rem;
    font-weight: 500;
    margin-right: 2rem;
}

.headerTrendBox {
    display: flex;
    flex-direction: row;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
    width: 5rem;
    padding: 0rem 1rem;
    margin: 0rem 2rem;
}

.detailChange {
    color: #43CA89;
    font-size: 1.25rem;
}

.detailPercent {
    font-size: 1.25rem;
    margin: 0;
}

.trendArrow {
    margin-right: 5px;
    margin-left: 0px;
}

/* ==============================
   Size Responsive Styling
   ============================== */


