.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
    width: 100%;
}

.leftHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rightHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 40px;
}

.companyLogo {
    width: 75px;
    border-radius: 100%;
    margin-right: 20px;
}

.detailSymbol {
    font-size: 40px;
    margin-right: 20px;
    width: 125px;
}

.detailName {
    font-size: 24px;
    width: 250px;
    text-wrap: wrap;
    text-align: left;
}

.detailPrice {
    margin-right: 10px;
}

.trendBox {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    max-height: 40px;
    width: auto;
    padding: 0px 10px;
    flex: 1;
    margin: 0px 10px;
}

.detailChange {
    font-size: 18px;
}

.detailPercent {
    font-size: 18px;
}

.trendArrow {
    margin-right: 5px;
    margin-left: 0px;
}
