.newsCard {
    width: 100%;
    max-width: 100%;
    align-self: center;
    height: 12rem;
    border-radius: 0.5rem;
    background-color: rgba(69, 67, 67, 0.8);
    justify-content: center;
    align-items: center;
    color: white;
}

.imageContainer {
    flex: 1;
    width: 12rem;
    height: 12rem;
    padding: 1.5rem;
}
  
.imageContainer > img {
    width: 9rem;
    height: 9rem;
    border-radius: 0.5rem;
    object-fit: cover;
}

.newsCard > a {
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.newsInfo {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    height: 100%;
}

.source {
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: start;
    justify-content: start;
    font-size: 1rem;
    font-weight: 200;
    color: rgba(235, 235, 235, 0.9);
}

.sourceName {
    height: 100%;
    margin: 0;
}

.dash {
    margin: 0rem 1rem;
}

.timeDiff {
    margin: 0;
}

.title {
    margin: 0.5rem 0rem;
    font-size: 1rem;
    color: rgba(235, 235, 235, 0.9);
    text-align: left;
    text-overflow: ellipsis;
}