.stockStats {
    flex: 2;
}

.stockStats > p {
    color: rgba(235, 235, 235, 0.9);
    text-align: left;
    font-size: 1.25rem;
    font-weight: 700;
}

.infoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    gap: 0rem 3rem;
    color: white;
}

.statHolder {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.statTitle {
    align-self: flex-start;
    font-weight: 500;
}

.stat {
    align-self: flex-end;
    color: rgba(235, 235, 235, 0.9);
    font-weight: 200;
}
