.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.stockSearch {
  width: 80%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.searchResultItems {
  padding: 10px;
  cursor: pointer;
  display: flex;
}

.search-bar-dropdown-item:hover {
  background-color: #f0f0f0;
}