.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: relative;
  padding: 1rem;
  background-color: #2F2F2F;
  border-radius: 1.625rem;
  margin-left: 2rem;
}

.stockSearch {
  width: 100%;
  border: none;
  outline: none;
  margin-left: 0.75rem;
  background-color: transparent;
  font-size: 1rem;
  color: rgba(235, 235, 235, 0.8);
}

.stockSearch:focus {
  caret-color: rgba(235, 235, 235, 0.8);
}

.searchIcon {
  color: rgba(235, 235, 235, 0.8);
}

.searchResults {
  position: absolute;
  top: 100%;
  width: 80%;
  padding: 15px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
}

.searchResultItems {
  padding: 10px;
  cursor: pointer;
  display: flex;
  cursor: default;
}

.searchResultTitle {
  flex: 3;
  text-wrap: wrap;
  margin-right: 10px;
}

.searchResultItems > p {
  font-size: 0.75rem;
  word-wrap: break-word;
  margin-left: auto;
  flex: 1;
  align-self: center;
}

.searchResultItems > button {
  cursor: pointer;
  margin-left: auto;
  flex: 1;
}

.search-bar-dropdown-item:hover {
  background-color: #f0f0f0;
}