.infoContainer {
    flex: 2;
    border-radius: 5px;
    background-color: #31363F;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 0px 20px;
    color: white;
    padding: 0px 20px;
}

.statHolder {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.statTitle {
    align-self: flex-start;
}

.stat {
    align-self: flex-end;
}
