.watchlistContainer {
    padding: 1rem;
    position: relative;
    flex: 1;
    background-color: #27292D;
    border-radius: 1rem;
    margin: 3rem 2rem;
    overflow: hidden;
    padding-bottom: 2rem;
}

.watchlistHeader {
  display: flex;
  align-items: center;
}

.watchlistHeader > h1 {
  font-weight: 500;
  margin-left: 1em;
  color: rgba(235, 235, 235, 0.8);
}

.watchlistBody {
    height: 80%;
    margin: 2rem 0rem;
    padding: 1rem 2rem;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem 0.5rem;
    box-sizing: content-box;
}

.watchlistBody:hover {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

.watchlistBody::-webkit-scrollbar {
  width: 1em;
}

.watchlistBody::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1em;
}

.watchlistBody::-webkit-scrollbar-track {
  background: transparent;
}