.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.watchlistContainer,
.detailsContainer {
  padding: 20px;
  overflow-y: auto;
  position: relative;
}

.watchlistContainer {
  flex: 1;
  background-color: #37383a;
}

.detailsContainer {
  flex: 3;
}

.split {
  display: flex;
  height: 100vh;
}

.watchlistContainer::after {
  content: '';
  position: absolute;
  top: 5%;
  bottom: 5%;
  right: 0;
  width: 2px;
  border-radius: 25px;
  background-color: rgb(177, 177, 177); /* White color */
}

.watchlistHeader {
  display: flex;
  align-items: center;
}

.watchlistHeader > h1 {
  margin-left: 60px;
}

.addStocksBtn {
  margin-left: auto;
  display: flex;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  border-radius: 100%;
}

.fa-plus {
  font-size: 32px;
  color: rgb(255, 255, 255);
}

