.App {
  text-align: center;
  background-color: #1F2023;
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 1575px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
